@* TODO: Detect Active Page *@
@model TopKala.Models.ViewModels.ProfileSideVM
<div class="profile-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-1">
    <div class="profile-box">
        <div class="profile-box-header">
            <div class="profile-box-avatar">
                <img src="@Model.Image" id="profile-image" alt="">
            </div>
            <button id="profile" class="profile-box-btn-edit">
                <i class="fa fa-pencil"></i>
            </button>
            <!-- Modal Core -->
            <div class="modal-share modal-width-custom modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">تغییر نمایه کاربری شما</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="profile-avatars default text-center">
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/user.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-1.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-2.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-3.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-4.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-5.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-6.svg"></img>
                                </li>
                                <li>
                                    <img class="profile-avatars-item" src="~/img/svg/avatar-7.svg"></img>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <form class="mx-auto">
                                <input type="file" accept="image/*" name="profile" class="d-none" id="upload" data-ajax-input="upload">
                                <button data-ajax-toggler="upload" class="btn btn-lg btn-secondary">
                                    <label for="upload">آپلود عکس</label>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Core -->
        </div>
        <div class="profile-box-username">
            @Model.ProfileName
        </div>
        <div class="profile-box-tabs">
            <a asp-controller="Login" asp-action="Password" class="profile-box-tab profile-box-tab-access">
                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                تغییر رمز
            </a>
            <a asp-controller="Login" asp-action="LogOut" class="profile-box-tab profile-box-tab--sign-out">
                <i class="now-ui-icons media-1_button-power"></i>
                خروج از حساب
            </a>
        </div>
    </div>
    @* TODO: Detect Active View *@
    <div class="responsive-profile-menu show-md">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-navicon"></i>
                حساب کاربری شما
            </button>
            <div class="dropdown-menu dropdown-menu-right text-right">
                <a asp-action="Index" class="dropdown-item active-menu">
                <i class="now-ui-icons users_single-02"></i>
                پروفایل
                </a>
                <a asp-action="Orders" class="dropdown-item">
                <i class="now-ui-icons shopping_basket"></i>
                همه سفارش ها
                </a>
                <a asp-action="OrdersReturn" class="dropdown-item">
                <i class="now-ui-icons files_single-copy-04"></i>
                درخواست مرجوعی
                </a>
                <a asp-action="Favorites" class="dropdown-item">
                <i class="now-ui-icons ui-2_favourite-28"></i>
                لیست علاقمندی ها
                </a>
                <a asp-action="InfoPersonal" class="dropdown-item">
                <i class="now-ui-icons business_badge"></i>
                اطلاعات شخصی
                </a>
            </div>
        </div>
    </div>
    <div class="profile-menu hidden-md">
        <div class="profile-menu-header">حساب کاربری شما</div>
        <ul class="profile-menu-items">
            <li>
                <a asp-action="Index" class="active">
                    <i class="now-ui-icons users_single-02"></i>
                    پروفایل
                </a>
            </li>
            <li>
                <a asp-action="Orders">
                    <i class="now-ui-icons shopping_basket"></i>
                    همه سفارش ها
                </a>
            </li>
            <li>
                <a asp-action="OrdersReturn">
                    <i class="now-ui-icons files_single-copy-04"></i>
                    درخواست مرجوعی
                </a>
            </li>
            <li>
                <a asp-action="Favorites">
                    <i class="now-ui-icons ui-2_favourite-28"></i>
                    لیست علاقمندی ها
                </a>
            </li>
            <li>
                <a asp-action="InfoPersonal">
                    <i class="now-ui-icons business_badge"></i>
                    اطلاعات شخصی
                </a>
            </li>
        </ul>
    </div>
</div>