@model TopKala.Models.ViewModels.ProfileFavoriteVM
@{
    string colSize = "col";
    string title = "لیست علاقه مندی ها";
    if (Model.ColSize == 12)
    {
        colSize = "col-12";
    }
    else if (Model.ColSize == 6)
    {
        colSize = "col-lg-6";
        title = "آخرین لیست علاقه مندی ها";
    }
}


<div class="@colSize">
    <div class="col-12">
        @* TODO: Create user favorite products list *@
        <h1 class="title-tab-content">@title</h1>
    </div>
    <div class="content-section default">
        <div class="row">
            <div class="col-12">
                <div class="profile-recent-fav-row">
                    <a href="#" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                        <img src="~/img/cart/4560621.jpg"></a>
                    <div class="profile-recent-fav-col profile-recent-fav-col-title">
                        <a href="#">
                            <h4 class="profile-recent-fav-name">
                                گوشی موبایل اپل مدل iPhone XR دو سیم کارت ظرفیت 256 گیگابایت
                            </h4>
                        </a>
                        <div class="profile-recent-fav-price">ناموجود</div>
                    </div>
                    <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                        <button class="btn-action btn-action-remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="profile-recent-fav-row">
                    <a href="#" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                        <img src="~/img/cart/3794614.jpg"></a>
                    <div class="profile-recent-fav-col profile-recent-fav-col-title">
                        <a href="#">
                            <h4 class="profile-recent-fav-name">
                                گوشی موبایل اپل مدل iPhone XR دو سیم کارت ظرفیت 256 گیگابایت
                            </h4>
                        </a>
                        <div class="profile-recent-fav-price">ناموجود</div>
                    </div>
                    <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                        <button class="btn-action btn-action-remove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            @if (Model.ColSize <= 6)
            {
                <div class="col-12 text-center">
                    <a href="#" class="btn-link-border form-account-link">
                        مشاهده و ویرایش لیست مورد علاقه
                    </a>
                </div>
            }
        </div>
    </div>
</div>