@model TopKala.Models.ViewModels.ProfileInfoEditVM
<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <h1 class="title-tab-content">ویرایش اطلاعات شخصی</h1>
                        </div>
                        <div class="content-section default">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="title-tab-content">حساب شخصی</h1>
                                </div>
                            </div>
                            <form asp-action="InfoEdit" method="POST" class="form-account form-common">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="FirstName"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="FirstName" class="form-control text-right">
                                            <div class="input-group-append d-none opacity-0" data-error-output="FirstName">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="FirstName" data-error-input="FirstName"></span>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="LastName"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="LastName" class="form-control text-right">
                                            <div class="input-group-append d-none opacity-0" data-error-output="LastName">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="LastName" data-error-input="LastName"></span>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="IdNumber"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="IdNumber" class="form-control">
                                            <div class="input-group-append d-none opacity-0" data-error-output="IdNumber">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="IdNumber" data-error-input="IdNumber"></span>
                                        <div class="form-account-agree">
                                            <label class="checkbox-form checkbox-primary">
                                                <input asp-for="ForeignUser">
                                                <span class="checkbox-check"></span>
                                            </label>
                                            <label asp-for="ForeignUser"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="CardNumber"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="CardNumber" class="form-control">
                                            <div class="input-group-append d-none opacity-0" data-error-output="CardNumber">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="CardNumber" data-error-input="CardNumber"></span>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="PhoneNumber"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="PhoneNumber" class="form-control">
                                            <div class="input-group-append d-none opacity-0" data-error-output="PhoneNumber">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="PhoneNumber" data-error-input="PhoneNumber"></span>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-account-title">
                                            <label asp-for="Email"></label>
                                        </div>
                                        <div class="input-group">
                                            <input asp-for="Email" class="form-control">
                                            <div class="input-group-append d-none opacity-0" data-error-output="Email">
                                                <span class="input-group-text">
                                                    <i class="fa fa-exclamation-circle" data-toggle="tooltip"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Email" data-error-input="Email"></span>
                                    </div>
                                </div>
                                <div class="col-12 no-padding">
                                    <div class="form-account-agree">
                                        <label class="checkbox-form checkbox-primary">
                                            <input asp-for="Subscript">
                                            <span class="checkbox-check"></span>
                                        </label>
                                        <label asp-for="Subscript"></label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-default btn-lg">ذخیره</button>
                                    <a asp-action="Info" class="btn btn-danger btn-lg">انصراف</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <vc:profile-side-bar></vc:profile-side-bar>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/errorObserver.js"></script>
}