<main class="profile-user-page default">
    <div class="container">
        <div class="row">
            <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                <div class="row">
                    <vc:profile-info col-size="12"></vc:profile-info>
                </div>
            </div>
            <vc:profile-side-bar></vc:profile-side-bar>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/profileModal.js"></script>
}