@model TopKala.Models.ViewModels.PasswordVM
@{
    Layout = "_LayoutSimple";
}

<div class="main-content col-12 col-md-7 col-lg-5 mx-auto">
    <div class="account-box">
        <a href="#" class="logo">
            <img src="~/img/logo.png" alt="">
        </a>
        <div class="account-box-title">تغییر رمز عبور</div>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <span class="message-danger">
                @ViewBag.Message
            </span>
        }
        <div class="account-box-content">
            <form class="form-account form-common" method="POST">
                <div asp-validation-summay="ModelOnly" class="text-danger"></div>
                <div class="form-account-title">
                    <label asp-for="OldPassword"></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                    </div>
                    <input asp-for="OldPassword" class="form-control">
                    <div class="input-group-append d-none opacity-0" data-error-output="OldPassword">
                        <span class="input-group-text">
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" title=""></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="OldPassword" data-error-input="OldPassword"></span>
                <div class="form-account-title">
                    <label asp-for="NewPassword"></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                    </div>
                    <input asp-for="NewPassword" class="form-control">
                    <div class="input-group-append d-none opacity-0" data-error-output="NewPassword">
                        <span class="input-group-text">
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" title=""></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" data-error-input="NewPassword"></span>
                <div class="form-account-title">
                    <label asp-for="NewPasswordRepeat"></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                        </span>
                    </div>
                    <input asp-for="NewPasswordRepeat" class="form-control">
                    <div class="input-group-append d-none opacity-0" data-error-output="NewPasswordRepeat">
                        <span class="input-group-text">
                            <i class="fa fa-exclamation-circle" data-toggle="tooltip" title=""></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="NewPasswordRepeat" data-error-input="NewPasswordRepeat"></span>
                <div class="form-account-row form-account-submit">
                    <div class="parent-btn">
                        <button class="dk-btn dk-btn-info">
                            تغییر رمز عبور
                            <i class="now-ui-icons arrows-1_refresh-69"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/errorObserver.js"></script>
    <script>
        window.onload = function(){
            // hide error containers
            var errorContainers = document.querySelectorAll('.field-validation-valid, .field-validation-error');
            for (var error of errorContainers){
                error.classList.add('d-none');
            }
        }
        // Error Observers
        attachObserver(
            document.querySelector('[data-error-input="OldPassword"]'),
            document.querySelector('[data-error-output="OldPassword"]')
        );
        attachObserver(
            document.querySelector('[data-error-input="NewPassword"]'),
            document.querySelector('[data-error-output="NewPassword"]')
        );
        attachObserver(
            document.querySelector('[data-error-input="NewPasswordRepeat"]'),
            document.querySelector('[data-error-output="NewPasswordRepeat"]')
        );
        
    </script>
}